In [17]:
import pandas as pd
import numpy as np
import random
import tensorflow as tf
import matplotlib.pyplot as plt

from sklearn.metrics import accuracy_score

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Flatten , Conv2D , Dense  , MaxPool2D
from tensorflow.keras.utils import to_categorical
from keras.layers import Dense , LSTM , Embedding
from tensorflow.keras.optimizers import Adam

In [18]:
SP = pd.read_csv(r"spam1.csv", encoding ='cp1252')

In [19]:
SP

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
6771,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
6772,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
6773,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
6774,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
6775,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [23]:
SP.isnull().sum()

v1               0
v2               0
Unnamed: 2    6720
Unnamed: 3    6760
Unnamed: 4    6768
dtype: int64

In [25]:
SP.rename(columns = {'v1' : 'Label' , 'v2' : 'Message'},  inplace=True)

In [27]:
SP.Label.value_counts()

Label
ham     5854
spam     922
Name: count, dtype: int64

In [33]:
SP.Label.replace({'spam' : 1 , 'ham':0}, inplace=True)

C:\Users\om\AppData\Local\Temp\ipykernel_6544\1339626233.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  SP.Label.replace({'spam' : 1 , 'ham':0}, inplace=True)

In [35]:
SP.Label.value_counts()

Label
0    5854
1     922
Name: count, dtype: int64

In [47]:
SP.Message = SP.Message.str.lower()

In [49]:
SP

,Label,Message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,0,"go until jurong point, crazy.. available only ...",NaN,NaN,NaN
1,0,ok lar... joking wif u oni...,NaN,NaN,NaN
2,1,free entry in 2 a wkly comp to win fa cup fina...,NaN,NaN,NaN
3,0,u dun say so early hor... u c already then say...,NaN,NaN,NaN
4,0,"nah i don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
6771,1,this is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
6772,0,will ì_ b going to esplanade fr home?,NaN,NaN,NaN
6773,0,"pity, * was in mood for that. so...any other s...",NaN,NaN,NaN
6774,0,the guy did some bitching but i acted like i'd...,NaN,NaN,NaN
6775,0,rofl. its true to its name,NaN,NaN,NaN