In [1]:
import pandas as pd
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
import numpy as np
import nltk

In [5]:
tar = pd.read_csv(r"Trip_advisor_review.csv")

In [9]:
tar.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [11]:
tar.shape

(20491, 2)

In [ ]:
tar.rename(columns = {'v1':'Label' , 'v2':'Message'}, inplace=True)